<!DOCTYPE html>
<html ng-app="jiratime">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
  <script src="app.js"></script>
  <style>
    td,th {
    border-style:solid;
    border-width:thin;
    padding-left:1em;
    padding-right:1em;
    }
    table {
    border-collapse: collapse;
    }
  </style>
</head>

<body>
  <section ng-controller="MainCtrl">
    <h3>JIRA Time</h3>

    <div><label>User id:</label><input type="text" ng-model="userId"/></div>
    <div><label>Password:</label><input type="password" ng-model="password"/></div>
    <div><input type="checkbox" ng-model="remember"><label>Remember me</label></div>
    <button ng-click="submit()">Get time</button><br>
    <hr>

    <span>Total: {{totalHours}}</span><br>

    <table>
      <thead>
	<tr>
	  <th>Ticket</th>
	  <th>Start</th>
	  <th>End</th>
	  <th>Duration</th>
	  <th>Comment</th>
	</tr>
      </thead>
      <tbody ng-init="orderByField='started'">
	<tr ng-repeat="log in work |orderBy:orderByField">
	  <td><a href="{{rootUrl}}/browse/{{log.key}}/worklog">{{log.key}}</a></td>
	  <td>{{log.uiStart | date : 'HH:mm'}}</td>
	  <td>{{log.uiEnd | date : 'HH:mm'}}</td>
	  <td>{{log.timeSpent}}</td>
	  <td>{{log.comment}}</td>
	</tr>
      </tbody>
    </table>

    <span>{{message}}</span>
  </section>
</body>

</html>
